<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biyeseng.mapper.ReportMapper">



	<select id="findReportList" resultType="Report">
		select * from report
	</select>

	<select id="query" parameterType="java.util.Map"
		resultType="Report">
		select * from report u
		<where>
			<if test="stuno!=null and stuno!=''">
				and u.stuno= #{stuno}
			</if>
			<if test="coursename!=null and coursename!=''">
				and u.coursename= #{coursename}
			</if>
		</where>
	</select>


	<select id="queryReportById" parameterType="int"
		resultType="Report">
		select * from report where id=${value}
	</select>

	<insert id="insertReport" useGeneratedKeys="true"
		keyProperty="id" parameterType="Report">
		insert into report
		(stuno,coursename,score)
		values
		(#{stuno},#{coursename},#{score});
	</insert>

	<update id="updateReport" parameterType="Report">
		update report
		set
		stuno=#{stuno},coursename=#{coursename},score=#{score}
		where
		id=#{id}
	</update>

	<delete id="deleteReport" parameterType="int">
		delete from report where id=${value}
	</delete>

</mapper>
